@import url('https://fonts.googleapis.com/css?family=Special+Elite');

/* -------------------------------- General Styles -------------------------------- */

body {
    /* background-color: rgb(8, 28, 36); */
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/MovieBuff/Assets/Media/cinemaseats.png");
}

.special-elite-font {
    font-family: 'Special Elite', sans-serif;
}

.light-font {
    font-family: 'Special Elite', sans-serif;
    color: rgb(174, 203, 214);
}

.title-wrapper {
    position: absolute;
    top: 0;
    text-align: center;
    width: 85%;
    height: 10%;
    margin: 20px;
}

.game-window {
    position: absolute;
    bottom: 0;
    width: 85%;
    height: 85%;
    margin: 0;
    padding: 0;
}

.game-wrapper {
    min-width: 85vw;
    min-height: 85vh;
    max-height: 90vh;
    max-width: 90vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tmdb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-types {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-success {
    margin: 10px;
    width: 100px;
    /* background-color: rgb(1, 210, 119);
    color: rgb(8, 28, 36); */
}

@keyframes incorrect {
    0% {
        border-top-color: red;
    }
    25% {
        border-top-color: rgb(121, 248, 121);
        border-right-color: red;
    }
    50% {
        border-right-color: rgb(121, 248, 121);
        border-bottom-color: red;
    }
    70% {
        border-bottom-color: rgb(121, 248, 121);
        border-left-color: red;
    }
    85% {
        border-left-color: rgb(121, 248, 121);
    }
}

.incorrect-answer {
    animation: incorrect 1s ease-in-out 0s 1;
}

@keyframes correct {
    0% {
        border-color: rgb(10, 126, 10);
    }
    50% {
        border-color: rgb(121, 248, 121);
    }
    100% {
        border-color: rgb(10, 126, 10);
    }
}

.correct-answer {
    animation: correct 500ms linear 0s infinite;
}


/* -------------------------------- 3 of a Kind Styles -------------------------------- */

.actors>img {
    display: flex;
    flex-basis: 100%;
    position: absolute;
    width: 70%;
    max-height: 100%;
    bottom: 0;
    border: green 5px solid;
}

.movies>img {
    display: flex;
    flex-basis: 100%;
    position: absolute;
    width: 70%;
    max-height: 100%;
    top: 0;
    border: rgb(0, 128, 0) 5px solid;
}

.movies>img:hover {
    border: rgb(121, 248, 121) 5px solid;
}

.actors-row {
    position: absolute;
    height: 50%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    padding-bottom: 1%;
    display: inline-flex;
    justify-content: space-around;
}

.movies-row {
    position: absolute;
    height: 50%;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 1%;
    display: inline-flex;
    justify-content: space-around;
    bottom: 0;
}

.actors {
    position: relative;
    max-width: 25%;
    padding: 0;
}

.actor-name {
    position: absolute;
    bottom: 0;
    left: 5px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    background-color: rgba(8, 28, 36, 0.6);
    padding-top: 3px;
}

.movies {
    position: relative;
    max-width: 25%;
    padding: 0;
}

#actor-1 {
    margin-left: 12%;
}

.movie-1 {
    margin-left: 12%;
}


/* -------------------------------- Role Play Styles -------------------------------- */

.character-row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 50%;
    margin: 0;
    left: 20%;
}

.movie-character {
    position: absolute;
    bottom: 50%;
}

.character-image {
    position: absolute;
    height: 90%;
    top: 0;
    left: 0;
}